* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navBar {
  background-color: rgb(255, 128, 0);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.topButton {
  position: absolute;
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 3px;
  height: 35px;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(255, 128, 0);
  border: solid transparent;
  letter-spacing: 3px;
}

.topButton a {
  font-weight: bold;
  color: white;
}

.logo {
  padding-top: 19px;
  padding-left: 10px;
}

.statusTag {
  position: absolute;
  top: 44%;
  left: 13%;
  color: white;
  font-weight: bold;
}

.navItems a {
  margin-right: 20px;
}

.navItems a,
.hamburger {
  font-weight: bold;
  color: white;
  padding: 0 1rem;
  transition: ease 0.5s;
}

.navItems a:hover {
  color: rgb(45, 126, 162);
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.wave-top {
  position: relative;
  bottom: -1px;
}

.landingImg {
  width: 100%;
  height: 40rem;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url("../images/storeView.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: -7px;
}

.landingInfo {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(255, 255, 255, 0.40);
  padding: 20px;
}

.landingInfo h1 {
  font-size: 43px;
  margin-bottom: 10px;
}

.landingInfo p {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .statusTag {
      left: 7%;
      top: 83%;
  }

  .navItems {
    display: none; 
    flex-direction: column;
    width: 100%;
  }

  .navItems a {
    display: block;
    text-align: center;
    padding: 10px;
  }

  .hamburger {
    display: block; 
  }

  .navBar {
    height: auto;
    padding: 1rem;
  }
}

.navItems.show {
  display: flex;
}

.productsHeader {
  font-size: 50px;
  color: rgb(255, 128, 0);
  text-align: center;
  margin-top: 70px;
}

.aboutUsSection {
  text-align: center;
  background-color: white;
  width: auto;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-bottom: 50px;
}

.websiteCredentials {
  margin-top: -5px;
  margin-bottom: -5px;
  background-color: rgb(45, 126, 162);
  width: 100%;
  height: 100px;
}

.websiteCredentials-background-top {
  margin-top: -5px;
  margin-bottom: -5px;
  background-color: rgb(255, 128, 0);
  width: 100%;
  height: 70px;
}

.websiteCredentials p {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  color: white;
}


/* Images:

https://unsplash.com/photos/esso-gasoline-station-MODZ2X9rcAQ

https://unsplash.com/photos/black-car-with-orange-light--uCp1YSCC-M

https://www.pexels.com/photo/white-van-on-dirt-road-9115453/

*/
